@model Szakdolgozat.DTO.ViewModels.AuthorVm

@{
    ViewData["Title"] = "Részletek";
    ViewBag.Source = "Author";
}

<div class="container">
    <h1>Részletek</h1>

    <div>
        <h4>Szerző</h4>
        <hr />
        <div class="row">
            <dl class="col-6">
                <div class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.EmailAddress)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Zip)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Zip)
                    </dd>
                </div>                
            </dl>
            <dl class="col-6">
                <dt class="col-sm-2">
                    Könyvek:
                </dt>
                <dd class="col-sm-10">
                    <ul>
                        @foreach (var item in Model.BookAuthors)
                        {
                            <li>@Html.DisplayFor(modelItem => item.Book.Title) <a asp-action="Delete" asp-controller="BookAuthor" asp-route-bookAuthorId="@item.Id"><img alt="Minus_icon" src="~/Images/minus.svg" style="width: 20px;" /></a></li>
                        }
                    </ul>
                    <a asp-action="CreateWithAuthor" asp-controller="BookAuthor" asp-route-authorId="@Model.Id"><img alt="Plus_icon" src="~/Images/plus.svg"></a>
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Szerkesztés</a>
        <a class="btn btn-info" asp-action="Index">Vissza</a>
    </div>
</div>